*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(25, 24, 24);
    border-radius: 10px;
}


.calculator form{
padding: 70px 2px 20px 2px;
}


.calculator form input{
    border: 0;
    outline:0;
    width:60px;
    height: 60px;
    border-radius: 18px;
    box-shadow: -8px -8px 15px rgba(209, 202, 202, 0.1),5px 5px 15px rgba(117, 117, 197, 0.1) ;
    background: transparent;
    background-color: rgb(25, 24, 24);
    color: rgb(240, 255, 255);
    box-shadow: -8px -8px 14px solid bisque;
    cursor: pointer;
    font-size: 27px;
    margin: 2px;
}

form .box{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}

form .box input{
    text-align: right;
    flex: 1;
    font-size: 44px;
    color: azure;
    box-shadow: none;
}


form input.operator1{
    background-color:rgb(39, 126, 126);
    color: rgb(255, 255, 255);
}

